{%- macro format_float(value, precision=2) -%}
    {%- if frappe.utils.cint(precision) == 3 %}
        {{ "%.3f" % value|abs }}
    {%- elif frappe.utils.cint(precision) == 4 -%}
        {{ "%.4f" % value|abs }}
    {%- else -%}
        {{ "%.2f" % value|abs }}
    {%- endif %}
{%- endmacro -%}

{%- macro render_dati_ordine_acquisto(items) -%}
    {%- for item in items %}
        {%- if item.sales_order -%}
            {%- set salesOrder = frappe.get_doc('Sales Order', item.sales_order) -%}
        {%- endif -%}
        {%- if salesOrder -%}
        <DatiOrdineAcquisto>
            {%- if items|length > 1 %}
                <RiferimentoNumeroLinea>{{ loop.index }}</RiferimentoNumeroLinea>
            {%- endif %}
            <IdDocumento>{{ salesOrder.po_no }}</IdDocumento>
            <Data>{{ salesOrder.po_date }}</Data>
            {%- if salesOrder.custom_codice_commessa %}
            <CodiceCommessaConvenzione>#{{ salesOrder.custom_codice_commessa }}#</CodiceCommessaConvenzione>
            {%- endif %}
            {%- if salesOrder.custom_cig %}
            <CodiceCIG>{{ salesOrder.custom_cig }}</CodiceCIG>
            {%- endif %}
        </DatiOrdineAcquisto>
        {%- endif -%}
    {%- endfor %}
{%- endmacro %}

{% macro render_address(address) %}
<Indirizzo>{{ address.address_line1 }}</Indirizzo>
<CAP>{{ address.pincode }}</CAP>
<Comune>{{ address.city }}</Comune>
{% if address.state_code %}
<Provincia>{{ address.state_code|upper }}</Provincia>
{% endif %}
<Nazione>{{ address.country_code }}</Nazione>
{% endmacro %}