{%- macro format_float(value, precision=2, conversion_rate=1) -%}
{% set value = (value|abs*conversion_rate)|round(precision) %}
{%- if frappe.utils.cint(precision) == 3 %}{{ "%.3f" % value|round(precision) }}
{%- elif frappe.utils.cint(precision) == 4 -%}
{{ "%.4f" % value|round(precision) }}
{%- else -%}
{{ "%.2f" % value|round(precision) }}
{%- endif %}
{%- endmacro -%}



{%- macro render_dati_ordine_acquisto(items) -%}
    {%- for item in items %}
        {%- if item.customer_po_no -%}
        <DatiOrdineAcquisto>
            {%- if items|length > 1 %}
                <RiferimentoNumeroLinea>{{ loop.index }}</RiferimentoNumeroLinea>
            {%- endif %}
            <IdDocumento>{{ item.customer_po_no }}</IdDocumento>
            <Data>{{ item.customer_po_date }}</Data>
            {%- if item.custom_riferimento_amministrativo %}
            <CodiceCommessaConvenzione>#{{ item.custom_riferimento_amministrativo }}#</CodiceCommessaConvenzione>
            {%- endif %}
            {%- if item.custom_cig %}
            <CodiceCIG>{{ item.custom_cig }}</CodiceCIG>
            {%- endif %}
        </DatiOrdineAcquisto>
        {%- endif -%}
    {%- endfor %}
{%- endmacro %}

{% macro render_address(address) %}
<Indirizzo>{{ address.address_line1 }}</Indirizzo>
<CAP>{{ address.pincode }}</CAP>
<Comune>{{ address.city }}</Comune>
{% if address.state_code %}
<Provincia>{{ address.state_code|upper }}</Provincia>
{% endif %}
<Nazione>{{ address.country_code }}</Nazione>
{% endmacro %}

{% macro getLotto(serial_and_batch_bundle, item) -%}
    {%- set bundle = frappe.db.get_value('Serial and Batch Bundle', serial_and_batch_bundle, 'name') -%}
    {%- if bundle -%}
        {%- set entries = frappe.db.get_all('Serial and Batch Entry', filters={'parent': ['=', bundle]}, fields=['batch_no', 'serial_no', 'qty'])%}
        {%- for entry in entries -%}
            {%- if entry.batch_no -%}
                {%- set lotto = frappe.get_doc('Batch', entry.batch_no) -%}
                {%- if lotto.custom_supplier_batch_id !='' -%}
                    {%- set batch_supplier = lotto.custom_supplier_batch_id -%}
                {%- else -%}
                    {%- set batch_supplier = lotto.name -%}
                {%- endif -%}
                <AltriDatiGestionali>
                    <TipoDato>AswLottSca</TipoDato>
                    <RiferimentoTesto>{{ batch_supplier }}</RiferimentoTesto>
                    <RiferimentoNumero>{{ "%.2f" % entry.qty|abs }}</RiferimentoNumero>
                    {%- if lotto.expiry_date -%}
                        <RiferimentoData>{{ lotto.expiry_date }}</RiferimentoData>
                    {%- endif -%}
                </AltriDatiGestionali>
            {%- elif entry.serial_no -%}
                {%- set serial = frappe.get_doc('Serial No', entry.serial_no) -%}
                <AltriDatiGestionali>
                    <TipoDato>AswSerNum</TipoDato>
                    <RiferimentoTesto>{{ serial.name }}</RiferimentoTesto>
                    <RiferimentoNumero>{{ "%.2f" % entry.qty|abs }}</RiferimentoNumero>
                    {%- if serial.warranty_expiry_date -%}
                        <RiferimentoData>{{ serial.warranty_expiry_date }}</RiferimentoData>
                    {%- endif -%}
                </AltriDatiGestionali>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro %}